<p id="notice"><%= notice %></p>

<h1>Sub Product Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_product_types.each do |sub_product_type| %>
      <tr>
        <td><%= sub_product_type.description %></td>
        <td><%= link_to 'Show', sub_product_type %></td>
        <td><%= link_to 'Edit', edit_sub_product_type_path(sub_product_type) %></td>
        <td><%= link_to 'Destroy', sub_product_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Product Type', new_sub_product_type_path %>
