

<p>
  <strong>Acoplado:</strong>
  <%= @transport.coupled %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @transport.capacity %>
</p>

<p>
  <strong>Patente:</strong>
  <%= @transport.plate %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @transport.model %>
</p>

<p>
  <strong>Chofer:</strong>
  <%= @transport.driver %>
</p>

<%= link_to 'Editar', edit_transport_path(@transport) %> |
<%= link_to 'Volver', transports_path %>
