

<h1>Detalle lote</h1>

<table>
  <thead>
    <tr>
      <th>Lote</th>
      <th>Animal</th>
      <th>Cantidad</th>
      <th>Observacion</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @lot_details.each do |lot_detail| %>
      <tr>
        <td><%= lot_detail.lot %></td>
        <td><%= lot_detail.animal %></td>
        <td><%= lot_detail.quantity %></td>
        <td><%= lot_detail.observation %></td>
        <td>
          <%= link_to (fa_icon "eye"), lot_detail, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_lot_detail_path(lot_detail), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), lot_detail, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo detalle lote', new_lot_detail_path %>
