

<p>
  <strong>Tropa:</strong>
  <%= @lot_detail.lot %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @lot_detail.animal %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @lot_detail.quantity %>
</p>

<p>
  <strong>Caidos:</strong>
  <%= @lot_detail.fallen %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @lot_detail.observation %>
</p>

<%= link_to 'Editar', edit_lot_detail_path(@lot_detail) %> |
<%= link_to 'Volver', lot_details_path %>
