

<h1>Detalle de produccion</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Peso</th>
      <th>Peso de control</th>
      <th>Observacion</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @product_details.each do |product_detail| %>
      <tr>
        <td><%= product_detail.product %></td>
        <td><%= product_detail.weight %></td>
        <td><%= product_detail.weight_control %></td>
        <td><%= product_detail.observation %></td>
        <td>
          <%= link_to (fa_icon "eye"), product_detail, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_product_detail_path(product_detail), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), product_detail, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
              
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Detail', new_product_detail_path %>
