<p>
  <strong>Producción:</strong>
  <%= @product_detail.product %>
</p>

<p>
  <strong>Peso (Kg):</strong>
  <%= @product_detail.weight %>
</p>

<p>
  <strong>Peso control (Kg):</strong>
  <%= @product_detail.weight_control %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @product_detail.observation %>
</p>

<%= link_to 'Editar', edit_product_detail_path(@product_detail) %> |
<%= link_to 'Volver', product_details_path %>
