<p id="notice"><%= notice %></p>

<h1>Turnos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.date %></td>
        <td><%= turn.description %></td>
        <td>
          <%= link_to (fa_icon "eye"), turn, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_turn_path(turn), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), turn, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
              
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn', new_turn_path %>
