<h1>Agentes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Dni</th>
      <th>Posición</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.last_name %></td>
        <td><%= agent.name %></td>
        <td><%= agent.dni %></td>
        <td><%= agent.position %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Agente', new_agent_path, {:class=>"btn btn-primary"} %>
