<div class="col-sm-6">  
  <%= form_for(lot) do |f| %>
    <% if lot.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

        <ul>
        <% lot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :dte, class: "form-control input-lg", placeholder: "D.T.E"%>
    </div>

    <div class="form-group">
      <%= f.collection_select :turn_id, Turn.all, :id, :to_s, {prompt: "Turno"}, {class: "select2"} %>
    </div>

    <div class="form-group">
      <%= f.collection_select :producer_id, Producer.all, :id, :to_s, {prompt: "Abastecedor"}, {class: "select2"} %>
    </div>

    <div class="form-group">
      <%= f.text_field :close_code, class: "form-control input-lg", placeholder: "Codigo Cierre"%>
    </div>

    <table class="table table-striped table-bordered table-list">
      <thead>
        <tr>
          <th>Animal</th>
          <th>Cantidad</th>
          <th>Observacion</th>
        </tr> 
      </thead>
      <tbody>
        <%= f.fields_for :lot_details do |ld| %>
              <%= render 'lot_detail_fields', :f => ld %>
        <% end %>
      </tbody>
    </table>

    <div class='links'>
      <%= link_to_add_association 'Agregar Lote', f, :lot_details %>
    </div>

    <div class="actions">
        <%= f.submit class: "btn btn-outline-success btn-block"%>
    </div>
  <% end %>
</div>
