

<h1>Lotes</h1>

<table class="table table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>D.T.E</th>
      <th>Turno</th>
      <th>Abastecedor</th>
      <th>Codigo cierre</th>
      <th>Senasa</th>
      <th>Turn</th>
      <th>Producer</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.dte %></td>
        <td><%= lot.turn %></td>
        <td><%= lot.producer %></td>
        <td><%= lot.close_code %></td>        
        <td>
          <%= link_to (fa_icon "eye"), lot, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_lot_path(lot), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), lot, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
