<p id="notice"><%= notice %></p>

<h1>Lots</h1>

<table class="table table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Senasa</th>
      <th>Turn</th>
      <th>Producer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.senasa %></td>
        <td><%= lot.turn %></td>
        <td><%= lot.producer %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
