

<p>
  <strong>D.T.E:</strong>
  <%= @lot.dte %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @lot.turn %>
</p>

<p>
  <strong>Abastecedor:</strong>
  <%= @lot.producer %>
</p>

<p>
  <strong>Codigo cierre:</strong>
  <%= @lot.close_code %>
</p>

<table class="table table-striped table-bordered table-list">
	<thead>
	    <tr>
	      <th class="hidden-xs">Animal</th>
	      <th>Cantidad</th>
	      <th>Observacion</th>
	    </tr> 
	</thead>
	<tbody>
	  <% for details in @lot.lot_details %>
	  	<tr>
	  		<td><%= details.animal %></td>
	  		<td><%= details.quantity%></td>
	  		<td><%= details.observation %></td>
	  	</tr>
	  <% end %>
	</tbody>
	<tfoot>
        <tr>
            <th colspan="4" style="text-align:right">Total:</th>
            <th><%= @lot.lot_details.sum('quantity') %></th>
        </tr>
    </tfoot>
</table>






<%= link_to 'Editar', edit_lot_path(@lot) %> |
<%= link_to 'Volver', lots_path %>
