

<p>
  <strong>D.T.E:</strong>
  <%= @lot.dte %>
</p>

<p>
  <strong>Fecha de LLegada:</strong>
  <%= @lot.arrival_date %>
</p>

<p>
  <strong>Hora de LLegada:</strong>
  <%= @lot.arrival_time %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @lot.turn %>
</p>

<p>
  <strong>Abastecedor:</strong>
  <%= @lot.producer %>
</p>

<p>
  <strong>Nro tropa:</strong>
  <%= @lot.troop_number %>
</p>

<p>
  <strong>Fecha cargo:</strong>
  <%= @lot.cargo_date %>
</p>

<p>
  <strong>Fecha vencimiento:</strong>
  <%= @lot.expiration_date %>
</p>

<p>
  <strong>Transporte:</strong>
  <%= @lot.transport_id %>
</p>

<p>
  <strong>Nro precinto:</strong>
  <%= @lot.seal_number %>
</p>

<p>
  <strong>Peso vivo:</strong>
  <%= @lot.liveweight %>
</p>

<p>
  <strong>Control cantidad:</strong>
  <%= @lot.quantity_control %>
</p>

<p>
  <strong>Codigo cierre:</strong>
  <%= @lot.close_code %>
</p>

<table class="datatable table-striped table-bordered table-list">
	<thead>
	    <tr>
	      <th class="hidden-xs">Animal</th>
	      <th>Cantidad</th>
	      <th>Observacion</th>
	    </tr> 
	</thead>
	<tbody>
	  <% for details in @lot.lot_details %>
	  	<tr>
	  		<td><%= details.animal %></td>
	  		<td><%= details.quantity%></td>
	  		<td><%= details.observation %></td>
	  	</tr>
	  <% end %>
	</tbody>
	<tfoot>
        <tr>
            <th colspan="4" style="text-align:right">Total:</th>
            <th><%= @lot.lot_details.sum('quantity') %></th>
        </tr>
    </tfoot>
</table>






<%= link_to 'Editar', edit_lot_path(@lot) %> |
<%= link_to 'Volver', lots_path %>
