<p id="notice"><%= notice %></p>

<h1>Abastecedor</h1>

<table>
  <thead>
    <tr>
      <th>Razon social</th>
      <th>Fecha de Alta</th>
      <th>Fecha de Baja</th>
      <th>Ciudad</th>
      <th>Observacion</th>
      <th>Activo</th>
    </tr>
  </thead>

  <tbody>
    <% @producers.each do |producer| %>
      <tr>
        <td><%= producer.name %></td>
        <td><%= producer.up_date %></td>
        <td><%= producer.down_date %></td>
        <td><%= producer.city %></td>
        <td><%= producer.observation %></td>
        <td><%= producer.active %></td>
        <td>
          <%= link_to (fa_icon "eye"), producer, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_producer_path(producer), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), producer, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
              
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producer', new_producer_path %>
