

<h1>Abastecedor</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Razon social</th>
      <th>CUIT/CUIL</th>
      <th>Fecha Alta</th>
      <th>Ciudad</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @producers.each do |producer| %>
      <tr>
        <td><%= producer.name %></td>
        <td><%= producer.cuit %></td>
        <td><%= producer.up_date %></td>
        <td><%= producer.city %></td>
        <td>
          <%= link_to (fa_icon "eye"), producer, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_producer_path(producer), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), producer, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Abastecedor', new_producer_path %>
