<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @producer.name %>
</p>

<p>
  <strong>Up date:</strong>
  <%= @producer.up_date %>
</p>

<p>
  <strong>Down date:</strong>
  <%= @producer.down_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @producer.city %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @producer.observation %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
