

<p>
  <strong>Razon social:</strong>
  <%= @producer.name %>
</p>

<p>
  <strong>CUIT/CUIL:</strong>
  <%= @producer.cuit %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @producer.telephone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @producer.email %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @producer.address %>
</p>

<p>
  <strong>Fecha de alta:</strong>
  <%= @producer.up_date %>
</p>

<p>
  <strong>Fecha de baja:</strong>
  <%= @producer.down_date %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @producer.city %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @producer.observation %>
</p>

<p>
  <strong>Activo:</strong>
  <% if @producer.active? %>
      ACTIVO
  <% else %>
      INACTIVO
  <% end %>
</p>

<%= link_to 'Editar', edit_producer_path(@producer) %> |
<%= link_to 'Volver', producers_path %>
