<p id="notice"><%= notice %></p>

<p>
  <strong>Lot:</strong>
  <%= @sub_product.lot %>
</p>

<p>
  <strong>Observartion:</strong>
  <%= @sub_product.observartion %>
</p>

<table class="table table-striped table-bordered table-list">
	<thead>
	    <tr>
	      <th class="hidden-xs">Tipo</th>
	      <th>Peso</th>
	      <th>Peso control</th>
	      <th>Observacion</th>
	    </tr> 
	</thead>
	<tbody>
	  <% for details in @sub_product.sub_product_details %>
	  	<tr>
	  		<td><%= details.sub_product_type %></td>
	  		<td><%= details.weight %></td>
	  		<td><%= details.weight_control %></td>
	  		<td><%= details.observation %></td>
	  	</tr>
	  <% end %>
	</tbody>>
</table>

<%= link_to 'Edit', edit_sub_product_path(@sub_product) %> |
<%= link_to 'Back', sub_products_path %>
