

<h1>Guias</h1>

<table>
  <thead>
    <tr>
      <th>Lot</th>
      <th>City</th>
      <th>Arrival date</th>
      <th>Transport</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.lot %></td>
        <td><%= guide.city %></td>
        <td><%= guide.arrival_date %></td>
        <td><%= guide.transport %></td>
        <td>
          <%= link_to (fa_icon "eye"), guide, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_guide_path(guide), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), guide, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide', new_guide_path %>
