

<p>
  <strong>Lote:</strong>
  <%= @guide.lot %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @guide.city %>
</p>

<p>
  <strong>Fecha de arribo:</strong>
  <%= @guide.arrival_date %>
</p>

<p>
  <strong>Transporte:</strong>
  <%= @guide.transport %>
</p>

<%= link_to 'Editar', edit_guide_path(@guide) %> |
<%= link_to 'Volver', guides_path %>
