<p id="notice"><%= notice %></p>

<p>
  <strong>Lot:</strong>
  <%= @guide.lot %>
</p>

<p>
  <strong>City:</strong>
  <%= @guide.city %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @guide.arrival_date %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @guide.transport %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
