<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.collection_select :lot_id, Lot.where(:close_code=>''), :id, :to_s, {prompt: "Tropa"}, {class: "select2"} %>
  </div>

  <div class="form-group">
    <%= f.text_field :description, class: "form-control input-lg", placeholder: "Descripcion"%>
  </div>

  <table class="table table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Peso</th>
        <% if current_user.A?  or current_user.admin?%>
            <th>Peso Control</th>
        <%end%>
        <th>Observacion</th>
        <th></th>
      </tr> 
    </thead>
    <tbody class="product_details">
        <%= f.fields_for :product_details do |pd| %>
            <%= render 'product_detail_fields', :f => pd %>
        <% end %>
    </tbody>
  </table>

  <div class='links'>
    <%= link_to_add_association 'Agregar Produccion', f, :product_details, data: { association_insertion_node: '.product_details', association_insertion_method: :append } %>
  </div>

  <div class="actions" style="margin-top: 15px;">
      <%= link_to 'Volver', products_path, class: "btn btn-outline-danger btn-back"%>
      <%= f.submit class: "btn btn-outline-success btn-create"%>
  </div>
<% end %>

<script type="text/javascript">
  $('#new_products').bind('cocoon:after-insert',
    function(e) {
      console.log('Insertando Select 2');
      
    });

</script>