<p>
  <strong>Lote:</strong>
  <%= @product.lot %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.description %>
</p>

<table class="datatable table-striped table-bordered table-list">
	<thead>
	    <tr>
	      <th>Peso</th>
	      <th>Peso control</th>
	      <th>Observacion</th>
	    </tr> 
	</thead>
	<tbody>
	  <% for details in @product.product_details %>
	  	<tr>
	  		<td><%= details.weight %></td>
	  		<td><%= details.weight_control %></td>
	  		<td><%= details.observation %></td>
	  	</tr>
	  <% end %>
	</tbody>
	<tfoot>
        <tr>
            <th colspan="4" style="text-align:right">Total:</th>
            <th><%= @product.product_details.sum('weight_control') %></th>
        </tr>
    </tfoot>
</table>


<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
